
@import "tailwindcss";
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

:root {
  /* Primary */
  --color-primary: #161E54;
  --color-primary-hover: #0F163F;

  /* Secondary */
  --color-secondary: #F16D34;
  --color-secondary-hover: #D85F2E;

  /* Background & Text */
  --color-background: #BBE0EF;
  --color-text: #161E54;

  /* Accent */
  --color-accent: #FF986A;
}
html, body, #root {
  height: 100%;
  background-color: #020617; /* slate-950 */
}
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}
